*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 0.85rem;
  background: linear-gradient(180deg, rgb(235, 189, 161) 0%, rgb(71, 49, 32) 100%);
}
.output{
  margin-top: 20px;
  width: 80%;
  text-align: center;
  font-weight: bold;
}
.detail{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.detail button{
  background-color: #000;
  color: #fff;
  width: 160px;
  height: 32px;
  border: none;
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.detail .fold{
  width: 325px;
  height: 30px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

.detail .expand{
  width: 325px;
  height: 88vh;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  overflow-y: scroll;
}

.expand img{
  width: 60%;
  margin-top: 20px;
  border-radius: 6px;
}

.explaination{
  color: #000;
  font-weight: bold;
}
.explaination p{
  margin: 0 10px 10px 10px;
}
.reply{
  color: #000;
  font-weight: normal;
  margin-top: 20px;
}
.reply p{
  padding: 4px 10px;
  margin: 0 10px 10px 10px;
  border-radius: 6px;
  border: 1px solid grey;
}